body{
  background-image: url(image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.contenitorecentro{
  padding: 10%;
  margin: auto;
  margin-top: 10px;
}


.contenitore{

  margin: auto;
  height: 1100px;
  width: 1200px;
  background-color: #000000d5;
  border-radius: 20px;
}

header > img{
  width: 40%;
  display: block;
  margin: auto;

}

header > h1{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: #06f202;s
}

nav{
  background-color: #1aff1a;
    height: 50px;
    border-radius: 5px;
    border: 2px solid;
}

nav > div{
  padding: 11px;
  padding-left: 27%;
}

.BOTTONE{
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;

}

main{
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}

main > span{
  display: inline-block;
}

.freccia:before{
  content: "\27FC";
}

.stato-carica1{
  width: 250px;
  height: 35px;
  border: 2px;
  background-color: #ffb700;
  border-radius: 10px;
}

.stato-carica2{
  width: 500px;
  height: 35px;
  border: 2px;
  background-color: #20d104;
  border-radius: 10px;
}

.stato-carica3{
  width: 180px;
  height: 35px;
  border: 2px;
  background-color: #f20202;
  border-radius: 10px;
}

.monop{
  padding-top: 6%;
}

#riga1{
  font-size: 28px;
}

.freccia{
  font-size: 25px;
}
